.manager-view {
    padding: 20px;
    background-color: #212631;
    overflow-y: auto;
    height: 94.8vh;
}

.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.filter {
    flex: 1;
}

.select {
    min-width: 200px;
}

.error {
    color: red;
    margin-top: 20px;
}

.tables {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    background-color: transparent;
    gap: 5px;
}
